body {
    background: white;
    overflow: scroll;
}



#main{
    padding: 300px;
    background: -webkit-linear-gradient(90deg, #a2a49f,#e0d0c4,#f1dac4);
    background: linear-gradient(90deg, #a2a49f,#e0d0c4,#f1dac4);
    min-height: 100%;
}


#hr{
    display: flex;
    padding: 4px
}
